SEPARATOR
FileNew
FileOpen
FileSave
SEPARATOR
Clear
SEPARATOR
FilePrint
PrintSetup
SEPARATOR
CBCut
CBCopy
CBPaste
SEPARATOR
Undo
Redo
SEPARATOR
LayMgr
SEPARATOR
ZmArea
ZmAll
Regen
SEPARATOR
SnapGrid
GridSize
GridDisp
SEPARATOR
MatchTool
SEPARATOR
Properties
//SEPARATOR
//colorprop
//SEPARATOR
//layerprop
//SEPARATOR
//widthprop
//SEPARATOR
//typeprop
