Selection
//Filter,//SelRibalog,//SelAll,//SelClear,//SelInvert,//SelWin,//SelObj,//SelCross,//SelAdj,//SelLast,//SelLay
LineCont,LineSingle,LineDbl,Point
Rect2,Rect3
RPolyCen,RPolySide,IPoly
Circle2,Circle3,CircDiam,Ellipse
Arc2,Arc3,EllArc
BezierSingle,BezierCont,Curve,CloseContr 
SymPlace,SymOpen,SymSave,//NewHandle,//SymReplace,//SymCreate,//SymExplode
Text,TextEditor
DimLin,DimAng,DimRad,DimDia,DimOrd,Leader,Datum
SnIntersect,SnObject,SnMidPoint,SnPerp,SnTangent,SnClosestPt,SnCenter,SnQuad,SnLastPt,SnPercent,Offset
Copy,RadCopy,ArrayCopy,Move,Rotate,Mirror,//MovePt,//Stretch,//Align,//FitScale,//Scale,//Explode,//Change
Fillet,Chamfer,Trim,MTrim,Extend,MExtend,IntTrim,
HatchBnd,HatchSel,SeedHatch,FillBnd,FillSel,SeedFill
DXFtoMAX2
